<html>
  <head>
    <title>Blog Detail</title>
    <link rel="stylesheet" href="/CSS/blog.css">
    <link rel="stylesheet" href="/CSS/blog-detail.css">
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <ul>
          <li>
            <img src="/icon/logo.png" alt="logo" />
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a class="active" href="/blog">Blog</a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <a href="/contact_me">Contact</a>
      </div>
    </nav>
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h1>{{ data.title }}</h1>
        <div class="author">12 Jul 2021 22:30 WIB | Ichsan Emrald Alamsyah</div>
        <img src="/image/blog-img-detail.png" alt="" />
        <p>
          {{ data.content }}
        </p>
      </div>
    </div>
  </body>
</html>