<html>
  <head>
    <title>Wellcome to my hut</title>
    <link rel="stylesheet" href="CSS/contact_me.css" />
    <link rel="stylesheet" href="CSS/index.css" />
  </head>

  <body class="bodyHTML">
    <nav><!--home-->
      <div class="nav-left">
        <ul>
          <li>
            <img src="icon/logo.png" alt="logo" />
          </li>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <a href="contact_me.html">Contact Me...</a>
      </div>
    </nav>
    <div class="devision">
      <h1 style="margin-left: 15px;">
        Hi Wellcome to my hut
      </h1>
      <p class="paragraf">
        saya Tio Triananda awalnya hanya web design, tapi seiring berjalannya waktu saya memerlukan skill baru untuk terus berkembang, maka dari itu saya belajar Full stack developmen berhubung saya tidak asing dengan HTML dan CSS maka saya mulai belajar Javascript dan code lainnya yang saya perlukan untuk menjadi full stack developmen
      </p>

      <a href="contact_me.html">
        <button class="button" style="cursor: pointer;" >
        Contact me
        </button>
      </a>

      <p class="download-cv">
        Download my VC <img src="./icon/icons8-download-24.png">
      </p>

      <div class="sosial_media_logo">
          <img src="./icon/icons8-facebook.svg" class="sosial_media_button">
          <img src="./icon/icons8-instagram.svg" class="sosial_media_button">
          <img src="./icon/icons8-twitter.svg" class="sosial_media_button">    
      </div>

      
    <div class="profile">
      <div>
        <img src="./image/sittingwolfcontemplating crop.jpg">   
      </div>
      <div class="profile-detail">
        <p>Tio Triananda</p>
        <p>King Furry</p>
      </div>
    </div>
    
  </div>
  </body>
</html>