<html>
  <head>
    <title> Wellcome to my hut</title>
    <link rel="stylesheet" href="/CSS/contact_me.css"/>
    <link rel="stylesheet" href="/CSS/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <div class="nav-left">
        <ul>
          <li>
            <img src="/icon/logo.png" alt="" />
          </li>
          <li>
            <a class="item-collapse" href="/">Home</a>
          </li>
          <li>
            <a class="item-collapse" href="/blog">Blog</a>
          </li>
        </ul>
      </div>

      <div class="nav-right">
        <a class="item-collapse" href="/contact_me">Contact Me...</a>
      </div>
      <div class="nav-right" id="barsmenu">
        <button class="humberger-btr" onclick="openhumberger()">
          <img src="/icon/menu_FILL0_wght400_GRAD0_opsz24.svg">
          {{!-- <i class="fa-solid fa-bars"></i> --}}
        </button>
      </div>
    </nav>

    <div class="humberger-nav-container" id="humberger-nav-container">
      <a href="/" class="humberger-active">Home</a>
      <a href="/blog">Blog</a>
      <a href="/blog-detail/:id">Blog Detail</a>
    </div>

  <div class="main-profile">
    <section>
    <div>
      <div>
        <h1>
          Hi Wellcome to my Hut
        </h1>
      </div>
      <div class="profile">
        <div class="inside-profile">
          <div>
            <p>
              saya Tio Triananda awalnya hanya web design, tapi seiring berjalannya waktu saya memerlukan skill baru untuk terus berkembang, maka dari itu saya belajar Full stack developmen berhubung saya tidak asing dengan HTML dan CSS maka saya mulai belajar Javascript dan code lainnya yang saya perlukan untuk menjadi full stack developmen
            </p>
          </div>
          <div>
            <h3>
              Skill
            </h3>
            <div class="skill">
              <div>
                <button>
                  HTML
                </button>
                <button>
                  CSS
                </button>
                <button>
                  Javascript
                </button>
                <button>
                  3D animation
                </button>
                <button>
                  Photo Editing
                </button>
                <button>
                  Video Editing
                </button>
              </div>

            </div>
          </div>
          <div class="contact">
            <button>
              Contact Me
            </button>
            <div class="download-cv">
              <p>
                Download My CV
              </p>
              <img src="/icon/icons8-download-24.png">
            </div>
          </div>
        </div>
        <div class="logo-sosial-media">
          <button>
            <img src="/icon/icons8-facebook.svg">
          </button>
          <button>
            <img src="/icon/icons8-instagram.svg">
          </button>
          <button>
            <img src="/icon/icons8-twitter.svg"> 
          </button>
        </div>
    </div>
  </div>
  </section>

    <div class="profile-full-info">
      <div class="profile-info">
        <div>
          <img src="/image/sittingwolfcontemplating crop.jpg">
        </div>
        <div>
          <h4 class="name">
            Tio Triananda
          </h4>
        </div>
        <div>
          <p class="title">
            Furry King
          </p>
        </div>
      </div>
    </div>
  </div>
  </body>
  <script src="/js/button.js"></script>
</html>