<html>
  <head>
    <title>
      My Profile Page
    </title>
    <link rel="stylesheet" href="CSS/blog.css">
    <link rel="stylesheet" href="CSS/My-profile-page.css">
  </head>
  <body>

    <nav><!--home-->
      <div class="nav-left">
        <ul>
          <li>
            <img src="icon/logo.png" alt="logo" />
          </li>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <a href="contact_me.html">Contact Me...</a>
      </div>
    </nav>

    <div class="web-page">
      <div>
        <div>
          <h1>
            Dumbway Web App
          </h1>
        </div>
        <div class="web-image">
          <img src="image/27_g19_lighthouse_front.png">
        </div>
      </div>
      <div class="Web-app-info">
        <div>
          <h3>Duration</h3>
        </div>     
        <div>
          <p><img src="icon/calendar_month_FILL0_wght400_GRAD0_opsz24.svg"> 12 jan 2021 - 11 feb 2021</p>
          <p><img src="icon/schedule_FILL0_wght400_GRAD0_opsz24.svg"> 1month</p>
        </div>
        <div>
          <h3>Technologies</h3>
        </div>
          <div class="technologies-group" >
            <div>
              <div><img src="icon/React-logo.png"></div>
              <div><p>REACT Js</p></div>
            </div>
            <div>
              <div><img src="icon/JS-logo.png"></div>
              <div><p>JavaScript</p></div>
            </div>
            <div>
              <div><img src="icon/NodeJS-logo.png"></div>
              <div><p>Node Js</p></div>
            </div>
            <div>
              <div><img src="icon/SoketIO-logo.png"></div>
              <div><p>Socket IO</p></div>
            </div>
          </div>
      </div>
      <div class="artikel">
        <p>
          Mercusuar adalah sebuah bangunan menara dengan sumber cahaya di puncaknya untuk membantu navigasi kapal laut. Mercusuar telah ada sejak zaman kuno, dan telah memainkan peran penting dalam keselamatan pelayaran selama berabad-abad. </p>

<p>Fungsi Mercusuar</p>

<p>Fungsi utama mercusuar adalah untuk membantu kapal laut menghindari bahaya, seperti terumbu karang, batu, dan daratan. Mercusuar juga dapat digunakan untuk membantu kapal laut menavigasi di malam hari atau dalam kondisi cuaca buruk.</p>

<p>Sejarah Mercusuar</p>

<p>Mercusuar pertama kali dibangun di Mesir sekitar 2700 SM. Mercusuar ini terbuat dari batu bata dan kayu, dan di puncaknya terdapat api yang menyala. Mercusuar tertua yang masih berdiri adalah Mercusuar Alexandria, yang dibangun pada abad ke-3 SM. Mercusuar ini memiliki ketinggian sekitar 135 meter, dan merupakan salah satu dari Tujuh Keajaiban Dunia Kuno.</p>

<p>Jenis-Jenis Mercusuar</p>

<p>Ada berbagai jenis mercusuar, yang dapat dibedakan berdasarkan sumber cahayanya. Mercusuar tradisional menggunakan api sebagai sumber cahaya. Namun, seiring perkembangan teknologi, mercusuar modern menggunakan berbagai sumber cahaya, seperti lampu listrik, lensa, dan laser.</p>

<p>Mercusuar di Indonesia</p>

<p>Indonesia memiliki lebih dari 1.000 mercusuar yang tersebar di seluruh wilayah. Mercusuar-mercusuar ini dibangun oleh pemerintah Indonesia, swasta, dan masyarakat.</p>

<p>Mercusuar sebagai Simbol</p>

<p>Mercusuar tidak hanya berfungsi sebagai alat navigasi, tetapi juga sebagai simbol. Mercusuar sering digambarkan sebagai simbol keselamatan, harapan, dan penerangan.
        </p>
      </div>
    </div>

  </body>
</html>