<!DOCTYPE html>
<html>
  <head>
    <title> add my project </title>
    <link rel="stylesheet" href="/CSS/blog.css">
    <link rel="stylesheet" href="/CSS/add-my-project.css">
  </head>

  <body>
    <!-- home -->
    <nav>
      <div class="nav-left">
        <ul>
          <li>
            <img src="/icon/logo.png" alt="logo" />
          </li>
          <li>
            <a href="/views/index.html">Home</a>
          </li>
          <li>
            <a href="/views/blog.html">Blog</a>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <a href="/views/contact_me.html">Contact Me...</a>
      </div>
    </nav>

      <form onsubmit="addBlog(event)" class="form-add-project">
        <div class="project-name">
          <label for="Project-name-input">Project name</label><br>
          <input type="text" id="Project-name-input">
        </div>
        <div class="date-text">
          <div>
            <label for="start-date-input">Start Date</label><br>
            <input type="text" id="start-date-input">
          </div>
          <div>
            <label for="end-date-input">End Date</label><br>
            <input type="text" id="end-date-input">
          </div>
        </div>
        
        <div class="checkbox">
          <div>
            <input type="checkbox" id="nodejs" value="nodejs">
            <label for="nodejs">Node Js</label>
          </div>
          <div>
            <input type="checkbox" id="nextjs" value="nextjs">
            <label for="nextjs">Next Js</label>
          </div>
          <div>
            <input type="checkbox" id="reactjs" value="reactjs">
            <label for="reactjs">React Js</label>
          </div>
          <div>
            <input type="checkbox" id="typescript" value="typescript">
            <label for="typescript">TypeScript</label>
          </div>
        </div>
      </div>
      
      <div>
        <label>File Upload</label>
        <div class="input-blog-image-group">
          <label for="input-blog-image">
            <p>Attach Files</p>
            <img src="/icon/pin-file.png" />
          </label>
          <input type="file" id="input-blog-image" hidden />
        </div>
      </div>
      <button class="submit-button">Submit</button>
    </form>

    <h1 class="page-title">
      My Project
    </h1>

      <div id="contents" class="page-project">
        <!-- page 1 -->
        <div class="page-profile">
          <div class="image-project">
            <img src="/image/october.jpg" alt="image">
          </div>
          <div class="project-info">
            <div>
              <h4>My Birthday</h4>
            </div>
            <div class="description">
              <p>1 weak</p>
            </div>
            <div>
              <p>this my birthday guys</p>
            </div>
            <div class="logo">
              <img src="/icon/icons8-playstore-50.png" alt="logo">
              <img src="/icon/icons8-android-50.png" alt="logo">
              <img src="/icon/icons8-java-50.png" alt="logo">
            </div>
            <div class="page-blog-button">
              <button>
                Edit
              </button>
              <button>
                Delete
              </button>
            </div>
          </div>
        </div>
        
        <!-- page 2 -->
        <div class="page-profile">
          <div class="image-project">
            <img src="/image/new-hair-cut.jpg" alt="image">
          </div>
            <div class="project-info">
              <div>
                <h4>I got a new haircut</h4>
              </div>
              <div class="description">
                <p>1 weak</p>
              </div>
              <div>
                <p>new hair cut</p>
              </div>
              <div class="logo">
                <img src="/icon/icons8-playstore-50.png" alt="logo">
                <img src="/icon/icons8-android-50.png" alt="logo">
                <img src="/icon/icons8-java-50.png" alt="logo">
              </div>
              <div class="page-blog-button">
                <button>
                  Edit
                </button>
                <button>
                  Delete
                </button>
            </div>
          </div>
        </div>

        <!-- page 3 -->
        <div class="page-profile">
          <div class="image-project">
            <img src="/image/Braking-bread.jpg" alt="image">
          </div>
          <div class="project-info">
            <div>
              <h4>just a bread</h4>
            </div>
            <div class="description">
              <p>1 weak</p>
            </div>
            <div>
              <p>bread</p>
            </div>
            <div class="logo">
              <img src="/icon/icons8-playstore-50.png" alt="logo">
              <img src="/icon/icons8-android-50.png" alt="logo">
              <img src="/icon/icons8-java-50.png" alt="logo">
            </div>
            <div class="page-blog-button">
              <button>
                Edit
              </button>
              <button>
                Delete
              </button>
            </div>
          </div>
        </div>

      </div>
  </body>
  <!-- <script src="Javascript/add-my-project.js"></script> -->
  <script src="/Js/add-my-project-2.js"></script>
</html>